*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    @media only screen and (max-width:$bp-huge) {
        font-size: 57%;
    }
    @media only screen and (max-width:$bp-wide-3) {
        font-size: 53%;
    }
    @media only screen and (max-width:$bp-large) {
        font-size: 47%;
    }
    @media only screen and (max-width:$bp-small-3) {
        font-size: 42%;
    }


}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #0000;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

.kontainer {
    display: grid;
    grid-template-rows: 100vh 90rem max-content max-content max-content 50rem;
    grid-template-columns: 12rem repeat(12, 1fr);

    @media only screen and (max-width:$bp-wide-3) {
        grid-template-rows: 100vh 130rem max-content max-content  max-content  50rem;
        
      }

    @media only screen and (max-width:$bp-medium) {
        grid-template-rows: 100vh 130rem max-content max-content  max-content   80rem;
       grid-template-columns: repeat(12, 1fr);
    }
}


#preloader {
    background-color: rgba($color: #eeee, $alpha: 1);
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 200;
}
#status {
    background-image: url(/preloader.svg);
    background-repeat: no-repeat;
    width: 25rem;
    height: 25rem;
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -6.5rem;
    margin-top: -12.5rem; 
   
 } 

.hiddenLoader {
    animation: fadeOut 1s;
}