  
//COLORS
$color-primary:#4D4C6B;
$color-primary-dark:#1A1938;
$color-primary-light:#807F9E;
$color-primary-light-2:#B3B2D1;
$color-primary-light-3:#E6E5FF;
$color-secondary: #D14531;
$color-secondary-light:#fe5239;
$color-secondary-dark:#7f291d;
$color-grey-light: #eee;
$color-text:#212529;



$color-dark-grey:#777;
$color-dark-grey-2:#999;
$color-dark-grey-3:#333;

$color-white: #fff;
$color-black: #000;

//Font

$default-font-size: 1.6rem;
$default-heading-size : 2.6rem;


//MEDIA QUERY VARS
$bp-huge:110em; //1750 px
$bp-huge-2:100em; //1600 px
$bp-wide-1:92.4em; //1470 px
$bp-wide-2:86.5em; //1385 px
$bp-wide-3:80em; //1270 px
$bp-wide-4:75em; //1200 px
$bp-wide-5:66.3em; // 1096 px
$bp-large:61.75em; // 992 px
$bp-medium:50em; // 800 px
$bp-small:42em; // 669px
$bp-small-2:36em; // 573px
$bp-small-3:30em; // 480px
$bp-small-4:25.5em; // 411px
$bp-small-5:21.8em; // 350px